body {
  background-color: olive;
}

.flex-container {
  display: flex;
  align-content: row;
}

.card {
  box-shadow: 3px 6px;
  margin: 15px;
  width: 350px;
  height: 850px;
  border: solid 1px black;
  background-color: wheat;
}

 /* .column {
  width: 30%;
}  

 .row {
   margin: 0 -5px;
}   */

header {
  border: solid 1px lightblue;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.card img {
  align-content: center;
  height: 200px;
  width: 350px;
}

.bold {
  font-weight: bold;
}

.available {
  background-color: darkgray;
  color: yellow;
}

p {
  font-family: 'Noto Sans HK', sans-serif;
}
